extends inc/layout.pug

block title 
    title Inheritance
block content 
    header 
        h1 Inheritance 
    section 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quia natus distinctio magni, et quas eos vel nisi ad sunt.